name: 'Version'

on:
  workflow_run:
    workflows: ['Build']
    types: [completed]
    branches: 
      - 'main'
jobs:
  version:
    name: Version
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0
         
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: '6.4.x'

      - name: Determine Version
        id: version_step
        uses: gittools/actions/gitversion/execute@v4.2.0
      
         
    
        
